*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font: sans-serif;
}
* {outline: none !important;}
textarea:focus, input:focus {outline: none !important;}
a {color: rgb(255, 255, 255); font-family: sans-serif; text-decoration: none;}
a:hover {color: black; font-family: sans-serif; text-decoration: none;}
a:visited {color: black; font-family: sans-serif; text-decoration: none;}
header{
  background-color: #e9ebf1;
  position: fixed;
  
  width: 100%;
  
}
header{
  z-index: 5;
}

.logo-nombre{
  padding: 10px;
  color: black;
  position: relative;
  display: inline-block;
  margin: 5px;
  z-index: 23;
}
#logo{
  position: relative;
  width: auto;
  display: inline-block;
  margin: 15px;
}

.dropdown {
    display: inline-block;
    position: relative;
    left: 500px;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    padding: 5px;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: aliceblue;
    
    
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    
    
  }
  .dropdown-content a:hover {
    color: #010a0a;
    background-color: #e1e1e4de;
  }
  .dropdown button{
    padding: 10px;
    font: 100% sans-serif;
    border-radius: 5%;
    border: none;
    text-decoration: none;
    color: black;  font-family: arial; text-decoration: none


  }
  .video-institucional{
    background-color:#0615e2de ;
    width: auto;
    display: inline-block;
    padding: 30px;
    margin: 50px;
    
  }
  .red-socialf{
    display: inline-block;
    
    z-index: 3;
    
    margin: 30px;
    
  }
  .calendario{
    border: none;
    display: inline-block;
    z-index: 3;
    position: relative;
    overflow: 0;
    margin: 0px;
  }
  .equipos{
    display: inline-block;
    margin: 10px;
  }
.clasificados{
  background-color: rgb(233, 233, 233);
  width: 375px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: solid;
  border-color: rgb(143, 138, 133);
  border-radius: 8px;
}
.contenedor{
  background-color: rgb(190, 190, 190);
}
.vermas{
  text-align: center;
  left: 5450px;
  padding: 5px;
  margin: 5px;
  border-radius: 35%;
  background-color: white;
}
.vermasc{
  text-align: center  ;
  padding: 5px;
  
  width: auto;
  
}

















  .footer{
    background-color: #0323d6;
     color: white;
     width: 100%;
  }
  .footer-contacto{
    width: auto;
    position: relative;
    display: inline-block;
    margin: 30px;
    font-size:110%;
  }
  .footer a:visited {color: rgb(255, 255, 255); font-family: sans-serif; text-decoration: none;}
  .footer2{ 
  
    text-align: center;
    background-color:  #0a2be6;
  }
  

 
